@import "tailwindcss";

:root {
  --background: #F9F9F9;
  --foreground: #0a0a0a;
  --muted-foreground: #696969;
  --half-muted-foreground: #57534E;
  --nav-link: #696969;
  --section-label: #A8A29E;
  --divider: #e4e4e4;
  --link: #1757df;
  --link-hover: #1d4ed8;
  --focus: #191c23;
  --tooltip: #1c1917;
  --accent: #A8A29E;
  --muted-accent: #d6d3d1;
  --select: #26282b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-half-muted-foreground: var(--half-muted-foreground);
  --color-nav-link: var(--nav-link);
  --color-section-label: var(--section-label);
  --color-divider: var(--divider);
  --color-link: var(--link);
  --color-link-hover: var(--link-hover);
  --color-focus: var(--focus);
  --color-tooltip: var(--tooltip);
  --color-accent: var(--accent);
  --color-muted-accent: var(--muted-accent);
  --font-sans: var(--font-schibsted-grotesk);
  --font-mono: var(--font-space-mono);
  --font-space: var(--font-space-grotesk);
}

* {
  box-sizing: border-box;
}

html {
  background: var(--background);
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-schibsted-grotesk), Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24.375px;
  text-rendering: optimizeLegibility;
  
}

a {
  text-decoration-thickness: 1px;
}

::selection {
  background: var(--select);
  color: var(--background);
}